@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One|Concert+One|Josefin+Sans&display=swap');

h1{
  font-family: Indie Flower;
  font-size: 80px;
  margin: 10px;
  text-align: center;
}
/*form*/
#form{
  display: inline-block;

  background-color: #C3D898;
  padding: 20px;
  height: 450px;
  width: 300px;

  float:left;
  margin-left: 15%;
  box-shadow: 5px 5px 0px #6e6c69;
}
form{
  font-family: Poiret One;
  font-size: 16px;
  font-weight: bold;

  position: relative;
  margin: 20px;
}
h4{
  font-size: 26px;
  text-align: center;
}
[type^="text"]{
  padding: 20px;
  margin: 50px 10px 10px 30px;


  font-family: Poiret One;
  font-size: 16px;
  font-weight: bold;
}
[type ^= "radio"]{
  cursor: pointer;
}
button{
  width: 180px;
  height: 35px;
  margin: 0px 30px 10px 60px;

  font-family: Poiret One;
  font-size: 16px;
  font-weight: bolder;
  color: white;

  background-color: #246A73;
  border: 2px solid #1D565E;
  transition: 0.3s;
  cursor: pointer;

}
#go-button:hover{
  height: 40px;
  background-color: #1D565E;
}

#join-option-display{
  height: 150px;
  position: relative;
}

.room{
  margin: 10px;
  font-size: 14px;
}
/*info*/
#info{
  display: inline-block;
  font-family: josefin sans;
  margin-left: 50px;
  max-width: 700px;
  max-height: 300px;

  overflow-x: wrap;
  color: #F2CD5D;
}

.info-header{
  color:#1D565E;
  font-weight: bold;
}

.body{
  color: #368F8B;
}

h5{
  font-size: 20px;
}

#info-toggle{
  display: inline-block;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.5s;

  font-family: Poiret One;
  font-size: 16px;
  font-weight: bolder;
  color: black;
  background-color: #E8E8E8;
  border: 2px solid #D8D8D8;
}

#info-toggle:hover{
  background-color: white;
  font-size: 16.5px
}


h6{
  font-family: josefin sans;
  color: #F2CD5D;
  margin-left: 50px;
  display: inline-block;
}
